<div class='event-form'>
{{#if this}}
  <input type="text" name="title" value="{{title}}">
  <input type="text" name="location" value="{{location}}">
  <input type="text" name="start_date" value="{{start_date}}">
  <input type="text" name="end_date" value="{{end_date}}">
  <span class="edit-event">Edit Your Event</span>
{{else}}
  <input type="text" name="title">
  <input type="text" name="location">
  <input type="text" name="start_date">
  <input type="text" name="end_date">
  <span class="add-event">Add Your Event</span>
{{/if}}
  <span class='cancel'>X</span>
</div>
